* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main {
  display: inline-flex;
  height: 100vh;
  width: 100vw;
  border: 4px solid black;
  flex-wrap: wrap;
  /* row-gap: 0px; */
  /* flex-grow: 0; */
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.num {
  display: flex;
  justify-content: center;
  width: 300px;
  border: 2px solid green;
  font-size: 30px;
}
.a {
  background-color: yellow;
}
.b {
  background-color: red;
}
.c {
  background-color: blue;
}
.d {
  background-color: purple;
}
.e {
  background-color: yellow;
}
.f {
  background-color: red;
}
.g {
  background-color: blue;
}
.h {
  background-color: purple;
}
.i {
  background-color: yellow;
}
.j {
  background-color: red;
}
