#plaatje {
  width: 30%;
  height: auto;
  margin-left: 35%;
}
h1 {
  display: grid;
  border-bottom: 5px solid rgb(30, 193, 30);
  justify-content: center;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 10% 10%;
  justify-content: center;
}
.gird2 {
  display: grid;
  gap: 40px;
}
.grid3 {
  gap: 30px;
  display: grid;
}
@media (max-width: 480px;) {
  h1 {
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
  }
}
@media (max-width: 800px max-height:480px) {
  h1 {
    background-color: blue;
  }
}
