.mone {
  float: left;
  height: 50px;
  width: auto;
}
#don {
  position: absolute;
  left: 125px;
  color: green;
}
#bes {
  position: absolute;
  right: 125px;
  top: 40px;
  color: green;
}
body {
  display: grid;
  margin: 50px;
  grid-template-columns: 250px;
}
#her {
  height: 50px;
  width: auto;
  position: absolute;
  right: 300px;
}
p {
  color: green;
  font-size: 30px;
  letter-spacing: 30px;
}
.gangsta {
  display: grid;
  grid-template-columns: 500px 200px;
  gap: 650px;
}
