* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 255, 255, 0.8),
    rgba(255, 0, 255, 0.8)
  );

  background-size: cover;
}
.main {
  animation-name: an;
  animation-duration: 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.titels {
  font-size: 100px;
  display: block;
  letter-spacing: 20px;
}
.onder {
  font-size: 45px;
  display: block;
  letter-spacing: 20px;
}
@keyframes an {
  0% {
    translate: 300px;
  }
  10% {
    translate: -300px;
  }
  20% {
    translate: 300px;
  }
  30% {
    translate: -300px;
  }
  40% {
    translate: 300px;
  }
  50% {
    translate: -300px;
  }
  60% {
    translate: 300px;
  }
  70% {
    translate: -300px;
  }
  80% {
    translate: 300px;
  }
  90% {
    translate: -300px;
  }
  100% {
    translate: 0px;
  }
}
